label {
  display: block;
  margin: 0 0 14px;

  small {
    font-size: 12px;
    letter-spacing: 0.86px;
  }
}

.error {
  label {
    color: var(--red-color);
  }
}

::ng-deep {
  .form-group {
    margin-bottom: 24px;
  }

  .prefix {
    position: absolute;
    top: 57%;
    left: 30px;
    opacity: 0.6;

    @media (max-width: 767px) {
      left: 14px;
    }
  }

  .input {
    display: block;
    border-radius: var(--control-border-radius);
    border: 1px solid var(--control-border-color);
    color: var(--color-base);
    background-color: var(--input-background-color);
    outline: none;
    font-size: 16px;
    width: 100%;

    &[disabled] {
      opacity: var(--input-disabled-opacity);
    }

    &::placeholder {
      color: var(--input-placeholder-color);
    }
  }

  input {
    height: calc(var(--control-height) * 1px);
    padding: 0 calc(var(--input-padding) * 1px);
  }

  textarea {
    padding: 20px calc(var(--input-padding) * 1px);
  }

  .error {
    .prefix,
    .input {
      border-color: var(--red-color);
      color: var(--red-color);
    }
  }
}
